{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Destination</title>
    <link rel="stylesheet" href="/static/CSS/base.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <header>
       
        <a href="#" class="logo"><img src="/static/images/logo.png" >&nbsp;Easy Destination</a>
    
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="/" id="center">Home</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="contactus">Contact Us</a></li>
                <li><a href="services">Services</a></li>
                <ul class="dropdown">
                    <li><a href="orders">Orders</a></li>
                </ul>
                <li><a href="logout">Logout</a></li>
                

                {% else %}
                <li><a href="/" id="center">Home</a></li>
                <li><a href="signup" class="login">Sign Up</a></li>
                <li><a href="login" >Admin Login</a></li>
                <li><a href="login" >Staff Login</a></li>
        
                
                {% endif %}


            </ul>
        </nav>
        <div class="clearfix"></div>
    </header>
   

    <div class="aboutus">
        <h1>
            Contact Us
        </h1>
    </div>

    <div class="adress">
       <h3> Adress :</h3>
        Andheri
        <br>
        Mumbai-400069
        
    </div>
    
    <div class="contactno">
        <h3>Contact Number:</h3>
        1234567890
    </div>

    <div class="email">
        <h3>Email Id:</h3>
        abc@gmail.com
    </div>

    <form  class="fms" method="post">
        {% csrf_token %}
        <div class="fm" >
            <h3 class="hd">Feedback Form</h3>
            {{form.as_p}}
            <!--<input type="text"  class="inpt" placeholder="Enter Name"><br>
            <input type="email"  class="inpt" placeholder="Enter Email"><br>
            <input type="number" class="inpt" placeholder="Enter Mobile Number"><br>
            <input type="text"   class="inpt" placeholder="Put Your Message">-->
            <input type="submit" class="sub" value="Save">
</form>
</div>

    <footer>
      <ul>
        <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com"><i class="fab fa-youtube-play"></i></li>
      </ul>
       <div class="name">Developed By : Madhusudan Sawant</div> 
    </footer>
</body>
</html>
{% include 'messages.html' %}